.genetic-library {
  margin-top: 5rem;
  margin-bottom: 7rem;
  .genetic-library-content {
    .generic-library-item {
      width: 75vw;
      .generic-library-img-item {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .generic-library-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
